{% extends 'base.html' %}
{% block content %}

<div class="site-content">
    <div class="section-header">
        <h1 class="section-title">{{course.program}} {{course.semester}} Semester</h1>
        <p>{{course.title}}</p>
        <p>{{course.code}}</p>
    </div>

    <div class="grid-container">

        {% for student in students %}
        <a href="{% url 'student' student.faculty_no %}">
        <div class="students-card">
            <div class="bg-section">
                <h1 class="week-status">
                    <span>upto</span>
                    <span class="large">{{student.completed_till}}<small>th</small></span>
                    <span>week</span>
                </h1>
            </div>
            <div class="students-card-content">
                <div class="content-box">
                    <h1 class="student-name">{{student.name}}</h1>
                    <p class="student-faculty-no">{{student.faculty_no}}</p>
                    <p class="course-enrolled">{{course.program}} {{course.semester}} Sem</p>
                </div>
            </div>
        </div>
        </a>
        {% endfor %}
    </div>

    <div class="table-container">
        <table class="table">
            <thead>
                <tr>
                    <th>Week No</th>
                    <th>End Date</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for week in weeks %}
                <tr>
                    <td  data-label="Week No">{{week.week_no}}</td>
                    <td data-label="End Date">{{week.lastDate}}</td>
                    <td data-label="Status">
                    {% if week.completed %}
                    <a href="#" class="table-btn completed">
                        Completed
                    </a>
                    {% else %}
                    <a href="#" class="table-btn pending">
                        Pending
                    </a>
                    {% endif %}
                    </td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>

</div>

{% endblock %}