{% extends 'base.html' %}
{% block content %}
    
<div class="site-content">
    <div class="section-header">
        <h1 class="section-title">Dashboard</h1>
    </div>

    <div class="card-container">
        {% for course in courses %}
        <div class="card">
            <div class="bg {{course.color}}">
            </div>
            <a href="{% url 'course' course.code %}">
            <div class="card-content">
                <div class="card-content-inner">
                    <p>{{course.program}} {{course.semester}} Semester</p>
                    <h3>{{course.title}}</h3>
                    <p>{{course.code}}</p>
                </div>
            </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}