<!-- {% load static %} -->

<div class="navigation">
    <img src={% static 'images/multiply-svgrepo-com.svg' %} alt="" class="nav-close">
    <ul>
        <li>
            <a href="">
                <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
                <span class="nav-icon-title">dashboard</span>
            </a>
        </li>
        <li>
            <a href="">
                <span class="icon"><ion-icon name="document-text-outline"></ion-icon></span>
                <span class="nav-icon-title">Academics</span>
            </a>
        </li>
        <li>
            <a href="">
                <span class="icon"><ion-icon name="log-out-outline"></ion-icon></span>
                <span class="nav-icon-title">sign out</span>
            </a>
        </li>
        <li>
            <a href="">
                <span class="icon"><ion-icon name="headset-outline"></ion-icon></span>
                <span class="nav-icon-title">support</span>
            </a>
        </li>    
    </ul>
</div>
    

