{% extends 'base.html' %}
{% block content %}
    
<div class="site-content">
    <div class="section-header">
        <div class="header">
            <h1 class="section-title">{{student.name}}</h1>
            <a href="{{student.course.lab_manual.url}}" class = "btn" target = "_blank" >
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><g data-name="11.download"><path d="M12 24a12 12 0 1 1 12-12 12.013 12.013 0 0 1-12 12zm0-22a10 10 0 1 0 10 10A10.011 10.011 0 0 0 12 2z"/><path d="M12 14.414 7.293 9.707l1.414-1.414L12 11.586l3.293-3.293 1.414 1.414L12 14.414z"/><path d="M11 5h2v8h-2zM17 19H7v-3h2v1h6v-1h2v3z"/></g></svg>
                <span>Download Manual</span> 
            </a>
        </div>
        <p>{{student.faculty_no}}</p>
        <p>{{student.course.program}} {{student.course.semester}} Semester</p>
        <p>Marks: {{marks_sum}} / {{out_of_marks}}</p>
    </div>

    <table class="week-table">
        <thead>
            <tr>
                <th>Week No</th>
                <th>End Date</th>
                <th>Submitted On</th>
                <th>Status</th>
                <th>Marks</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            
            {% for week_st in week_list %}
            <tr>
                <td  data-label="Week No">{{week_st.id}}</td>
                <td data-label="End Date">{{week_st.week.lastDate}}</td> <!-- Fix: Use "last_date" instead of "lastDate" -->
                <td data-label="Submitted On">{{week_st.submittedOn}}</td>
                <td data-label="Status">
                    <a class="table-btn {{week_st.status}}">{{week_st.status}}</a>
                </td>
                <td data-label="Marks">{{week_st.marks}}</td>
                <td>
                    <form method="post" enctype="multipart/form-data" action="{% url 'submit' week_st.id %}"> <!-- Fix: Add method, enctype, and action attributes -->
                        {% csrf_token %}
                        <input type="file" name="file" id="fileInput" placeholder="Submit">
                        <button type="submit" class="check table-btn">Submit</button> <!-- Fix: Add type="submit" to the button -->
                    </form>
                </td>
            </tr>
            {% endfor %}  
        </tbody>
    </table>
</div>
{% endblock %}
